body, html {
    height: 100%;
    margin: 0;
    color: #ffffff;
    background-size: cover;
    background-position: center;
}
.overlay {
      background: black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
  }

  .content {
      z-index: 2;
      display:inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background: black;
  }

  .navbar-brand {
      font-weight: bold;
      display: inline-flex;
      text-align: center;
      margin-left: auto;
    margin-right: auto;
    text-align: center;
      color: #ffffff !important;
  }

  .navbar-nav .nav-link {
      color: #ffffff !important;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .nav-item {
    margin-left: -20px;
    margin-right: 40px;
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
  .collapse{
    display: inline-flex;
    flex-direction: column;
    align-self: start;
    justify-content: left;
  }
  .navbar-nav .nav-link:hover {
      color: #6a6767 !important;
  } 
.nav-item{
    display: inline-flex;
    text-align: left;

    align-items: flex-start;
    
}
.nav-link{
    display: inline-flex;
    text-align: left;
    align-items: flex-start;
}

  h1, h2, h3, h4, h5, h6 {
      color: #ffffff;
  }

  h1 {
      font-size: 2.5rem;
      font-weight: bold;
  }

  
  @media (max-width: 768px) {
      h1 {
          font-size: 2rem;
      }
  }
